.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  color: black;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
  transition: background-color 0.4s, color 0.4s;
}

.social-icon:hover {
  background-color: white;
  color: black;
  font-size: 60px;
  width: 90px;
  height: 90px;
  
}

.footer {
  font-size: 20px;
  color: #777;
}
